<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SourceDocumentUri" value="file://C:\temp\um\Activities.xml" />
    <!--<add key="SourceDocumentUri" value="http://iati-dev.um.dk/api/v2/Activities.ashx" />-->
    <add key="NumberOfPages" value="7" />
    <add key="XmlElementToPage" value="iati-activity" />
    <add key="XmlElementIdentifier" value="iati-identifier" />
    <add key="OutputFileNameBase" value="iati" />
    <add key="OutputFolder" value="C:\inetpub\iati_v2\files" />
    <!--<add key="OutputFolder" value="C:\inetpub\wwwroot\files" />-->
    <add key="OutputFileBaseUrl" value="http://iati-dev.um.dk/api/v2/files/" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>