<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension">
  <?define WebAppName="Iati"?>
  <?define Host="iati.um.dk"?>

  <Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="IatiAppPool" Guid="" KeyPath="yes">
        <iis:WebAppPool Id="IatiAppPool"
                        Name="$(var.WebAppName)AppPool"
                        Identity="networkService"
                        ManagedPipelineMode="Integrated"
                        ManagedRuntimeVersion="v4.0" />
      </Component>
      <Component Id="InstallWebsite" Guid="" KeyPath="yes">
        <!-- Install to default web site -->
        <iis:WebSite Id="IatiWebSite" Description='!(loc.ProductName)' Directory='INSTALLFOLDER' AutoStart='yes' StartOnInstall='yes'>
          <iis:WebAddress Id="AllUnassigned" Port="80" Header="$(var.Host)" />
          <iis:WebApplication Id="IatiWebSiteApplication" Name="[IatiWebSite][WEBSITE_ID]" WebAppPool="IatiAppPool"></iis:WebApplication>
        </iis:WebSite>
      </Component>
    </DirectoryRef>
    <ComponentGroup Id="WebsiteIssConfiguration">
      <ComponentRef Id="InstallWebsite" />
      <ComponentRef Id="IatiAppPool" />
    </ComponentGroup>
  </Fragment>
</Wix>